*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 #Components {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #Components table{
    border:  1px salmon solid;
    width: 90%;
    /* margin-left: 15%; */
    text-align: center;
    align-items: center;
}
 #Components table thead{
    background-color: rgb(8, 76, 203);
    color: white;

 }
  #Components table thead th{
    padding: 10px;
  }
  #Components table tbody tr td{
    padding: 8px;
    border: 1px solid;
  }
  #Components table tbody tr td i{
    cursor: pointer;
  }
#Components>section{
  padding: 0px 30%;
  display: flex;
  margin-top: 30px;

}
#Components>section>button{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 0px 10px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
}